<h1>Index Page</h1>
<ul>
  <% @articles.each do |article| %>

  <strong><%= article.title %></strong>
  <p><%= article.content %></p>
  <%= link_to "Show", article_path(article.id)%>
<% end %>
</ul>

<%= link_to "New", articles_new_path %>